/** */
.btn.btn-primary.add-to-cart {
    color: #ED4D2B;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 16px;
}

    .btn.btn-primary.add-to-cart:hover {
        border-radius: 4px;
        color: #fff;
        background: #ED4D2B;
    }
.btn.btn-primary {
    border-radius: 4px;
}
    .btn.btn-primary:hover {
        background: #c23415;
    }

.dflex {
    display:flex;
}
h2.title {
    color: #ED4D2B;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}
#slider {
    padding-bottom: 0;
}