
@{
    ViewBag.Title = "Article List";
}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Danh sách bài viết</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Tên bài viết</th>
                                <th>Người đăng tải</th>
                                <th>Ngày đăng</th>
                                <th>Lệnh</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0001</td>
                                <td>Khoá học mùa hè</td>
                                <td>Nguyễn Thanh Nam</td>
                                <td>15/04/2022</td>
                                <td>
                                    <button class="btn btn-danger">Xoá</button>
                                    <button class="btn btn-primary">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>0002</td>
                                <td>Khoá học UI/UX</td>
                                <td>Hoàng Văn Vỹ</td>
                                <td>20/12/2022</td>
                                <td>
                                    <button class="btn btn-danger">Xoá</button>
                                    <button class="btn btn-primary">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>0003</td>
                                <td>Khoá học tháng 12</td>
                                <td>Nguyễn Thanh Nam</td>
                                <td>31/12/2022</td>
                                <td>
                                    <button class="btn btn-danger">Xoá</button>
                                    <button class="btn btn-primary">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>0004</td>
                                <td>Khoá học tháng 1</td>
                                <td>Nguyễn Thanh Nam</td>
                                <td>01/01/2023</td>
                                <td>
                                    <button class="btn btn-danger">Xoá</button>
                                    <button class="btn btn-primary">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->